extends templates/template

block content
    div(
        class="position-absolute absolute-middle-center text-center"
    )
        h1(class="text-center") Brainstorm!
        a(href="/create")
            img(
                src="/images/brainstorm.gif"
                class="img-fluid cursor-pointer"
            )