div(class="w-100 position-fixed px-3 pb-3" id = "controls-ribbon")
    //- Notes icon
    button(type="button" class = "room-control bg-white rounded shadow-sm text-center border p-2 mr-3" data-toggle="modal" data-target="#notesPaperModal")
        img(src="/images/notebook.png" class = "cursor-pointer")
        br
        span Notes

