div
    input(id="idea-input" type="text" class="rounded shadow-sm p-2 mb-3 mr-3 d-inline-block border" placeholder="Suggest an idea")
    button(type="button" class = "bg-transparent border-0")
        i(class="fas fa-paper-plane pink-text" id = "send-idea")
hr
div(id="ideas-panel")
    