<!-- Modal -->
div(class="modal fade" id="usersListModal" tabindex="-1" role="dialog" aria-labelledby="usersListModalTitle" aria-hidden="true")
    div(class="modal-dialog modal-dialog-centered" role="document")
        div(class="modal-content")
            div(class="modal-header")
                h5(class="modal-title" id="usersListModalTitle") Current users
                button(type="button" class="close" data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
            div(class="modal-body")
                div(id="users-list")
            //- div(class="modal-footer")
            //-     button(type="button" class="rounded border-0 py-2 gray-bg text-dark" data-dismiss="modal") Close