/*https://colorhunt.co/palette/174969*/

.dark-green-bg{
    background-color: #a8e6cf !important;
}
.light-green-bg{
    background-color: #dcedc1 !important;
}
.orange-bg{
    background-color: #ffd3b6 !important;
}
.pink-pastel-bg{
    background-color: #ffaaa5 !important;
}

.dark-green-text{
    color: #a8e6cf !important;
}
.light-green-text{
    color: #dcedc1 !important;
}
.orange-text{
    color: #ffd3b6 !important;
}
.pink-pastel-text{
    color: #ffaaa5 !important;
}