.space-guy-img{
    opacity: 0.2;
}
.idea-block{
    /* height: 250px; */
    width: 260px;
}
.idea-block-body{
    height: 200px;
    overflow-y: auto;
    word-wrap: normal;
}
.idea-block-footer{
    /* height: 30px; */
    /* overflow-y: auto; */
    border-top: 1px solid grey;
    padding-top: 5px;
    /* word-wrap: normal; */
}