#users-list{
    max-height: 400px;
    overflow-y: auto;
}

#main-chat-wrap{
    display: none;
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 360px;
    border-left: 1px solid #e6e6e6;
}

.received-msg{
    background-color: #f1f0f0;
}

#messages-main-wrap{
    overflow-y: auto;
}

#msg-controls{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

@media screen and (max-width: 768px){
    #main-chat-wrap{
        width: 100%;
        border-left: none;
    }
}