#main-chat-wrap{
    display: none;
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    /* width: 25%; */
    width: 700px;
    border-left: 1px solid #e6e6e6;

    -webkit-box-shadow: -5px 0px 15px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: -5px 0px 15px -6px rgba(0,0,0,0.75);
    box-shadow: -5px 0px 15px -6px rgba(0,0,0,0.75);
}

.received-msg{
    background-color: #f1f0f0;
}
.sent-msg{
    background-color: #ff70bd;
}

#messages-main-wrap{
    overflow-y: auto;
}

#msg-controls{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.msg-cont{
    max-width: 75%;
    word-wrap: break-word;
    font-size: 1.1rem;
}

/* On bottom above input */
.msg-cont-reply-loaded{
    background-color: #e6e6e6;
}

/* In the messages */
.msg-cont-reply{
    background-color: transparent;
    border-left: 1px solid #e0e0e0;
    color: #e0e0e0;
}

.no-msgs-img{
    opacity: 0.2;
}

@media screen and (max-width: 768px){
    #main-chat-wrap{
        width: 100%;
        border-left: none;
    }
}