@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    background-color: #f1f1f1;
}

#idea-input{
    border: 1px solid #c9c9c9;
}

.absolute-middle-center{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cursor-pointer{
    cursor: pointer;
}

.remove-underline{
    text-decoration: none !important;
}

/* Colors */
.pink-bg{
    background-color: #FF008A !important;
}
.pink-text{
    color: #FF008A !important;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b3b3b3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}